<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Nilji</title>
    <link rel="icon" href="/img/icon.png">

    {% block head_content %}{% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" >    

</head>

<body>

    {% include "parts/header.njk" %}
   

    {% block content %}{% endblock %}

    {% include "parts/footer.njk" %}

</body>
<script src="/js/scripts.js"></script>
</html>